//inicio estilos pag contacto
h5{
    font-size: 22px;
    text-align: center;
    padding: 20px;
    font-family:'Roboto';
    background-color: grey;
    border-radius: 20px 50px;
}

#contacto{
    height: auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    margin: auto;
    padding: 2rem;
    border-radius: 10px;
    //estilo a form de contacto
    .contact-title{
        font-size: 30px;
        font-weight: 600;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin-bottom: 30px;
        text-transform: uppercase;
        color: yellowgreen;
    }
    .label{
        font-size: 18px;
        font-weight: 600;
    }
    .input{
        height: 30px;
        outline: none;
        padding: 5px 0;
        border-bottom: 2px solid yellowgreen;
        border-top: none;
        border-left: none;
        border-right: none;
        width: 100%;
        color: #121212;
        background-color: transparent;
    } 
    .textarea{
        height: 100px;
        outline: none;
        padding: 5px 0;
        border-bottom: 2px solid yellowgreen;
        border-top: none;
        border-left: none;
        border-right: none;
        width: 100%;
        color: #121212;
        background-color: transparent;
        resize: none;
    }
    //estilo a boton de enviar
    #botonEnviar{
        padding: 18px 55px;
        background-color: #121212;
        border-radius: 50px;
        color: #f2f2f2;
        font-weight: 600;
        border: none;
        font-size: 18px;
        cursor: pointer;
    }
}
//fin estilos pag contacto