
#weather {
    text-align: center;
    padding: 1rem;
    font-family: "Roboto", sans-serif;
    background: rgb(90, 187, 173);
    color: white;
    h3{
        font-weight: bold;
        font-size: 2.5rem;
        letter-spacing: 0.02em;
        padding: 2rem;
    }
    #inputWeather{
        border: none;
        background: none;
        outline: none;
        color: white;
        font-size: 2rem;
        height: 40px;
        padding: 5px 5px 10px;
        border-bottom: 1px solid;
    }
    #buttonWeather{
        border: none;
        background: none;
        outline: none;
        color: white;
        font-size: 1rem;
        font-weight: bold;
        letter-spacing: 0.1em;
        padding: 15px 20px;
        margin-left: 15px;
        border-radius: 5px;
        background: #ff1e42;
        &:hover {
            background: green;
        }
    }
    .containerWeather {
        background-color: white;
        color: #1e2432;
        width: 300px;
        height: 350px;
        border-radius: 20px;
        margin-left: 50px;
        visibility : hidden;
        margin: 50px auto;
        .cities {
            padding: 40px 10%;
            list-style: none;
            #city {
                font-size: 2rem;
                color: #717681;
            }
            #temperature {
                font-size: 5rem;
                font-weight: bold;
                sup {
                    font-weight: normal;
                    font-size: 2.5rem;
                }
            }
            img {
                width: 4rem;
            }
            #description {
                text-transform: uppercase;
                letter-spacing: 0.05em;
                color: #717681;
            }
        }
    }
}



